<form method="POST" action="/new-post">
	<label for="title">Title</label>
	<input type="text" name="text" placeholder="Title">
	<label for="blogPost">Body</label>
	<input type="textarea" name="blogPost" placeholder="Start typing your blog post here...">
	<input type="submit">
</form>