<a href="/sign-up">Sign Up Here</a>

<form method="POST" action="/sign-in">
	<label for="email">Email</label>
	<input type="text" name="email" placeholder="Email">
	<label for="password">Password</label>
	<input type="password" name="password" placeholder="Password">
	<input type="submit">
</form>